<?xml version='1.0' encoding='UTF-8'?>
<hudson.tasks.Mailer_-DescriptorImpl plugin="mailer@1.18">
  <hudsonUrl>{{ _jenkins.mailserver.hudsonUrl }}</hudsonUrl>
  <smtpAuthUsername>{{ _jenkins.mailserver.smtpAuthUsername }}</smtpAuthUsername>
  <smtpAuthPassword>{{ _jenkins.mailserver.smtpAuthPassword }}</smtpAuthPassword>
  <smtpHost>{{ _jenkins.mailserver.smtpHost }}</smtpHost>
  <useSsl>{{ _jenkins.mailserver.useSsl }}</useSsl>
  <charset>{{ _jenkins.mailserver.charset }}</charset>
</hudson.tasks.Mailer_-DescriptorImpl>
